name: CI

on: push

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Build
        run: ./mvnw -V --no-transfer-progress verify --fail-at-end
      - name: Generate Test Report
        if: always()
        uses: ./.github/actions/generate-reports
        with:
          report-artifact-name: 'Open Test Reports'
      - name: Publish Test Results EnricoMi
        if: (!cancelled())   # important: runs even if tests fail
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            **/target/surefire-reports/*.xml
      - name: Publish Test Report mikepenz
        uses: mikepenz/action-junit-report@v5
        if: (!cancelled()) # always run even if the previous step fails
        with:
          report_paths: '**/target/surefire-reports/*.xml'
          truncate_stack_traces: 'false'
  publish_artifact:
    runs-on: ubuntu-latest
    if: (success() || failure()) && github.repository == 'filiphr/open-test-reporting-sample'
    needs: linux
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: Open Test Reports
      - name: Azure Upload Report
        uses: azure/cli@v2
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        with:
          inlineScript: |
            az storage blob upload --container-name '$web' --file open-test-report.html --name open-test-report-${{ github.run_id }}.html
      - name: Write Summary
        run: echo "Test report available at ${{ vars.STORAGE_BASE_URL }}/open-test-report-${{ github.run_id }}.html" >> $GITHUB_STEP_SUMMARY

